<nav class="navbar navbar-expand-lg">
	<div class="container navbar-content">
		<!-- Site title -->
		<button type="button" id="theme-button" class="btn navbar-brand">jvernon.net</button>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
			<i class="bi bi-list"></i>
		</button>

		<!-- Navbar content container -->
		<div class="collapse navbar-collapse">
			<div class="navbar-content">
				<ul class="navbar-nav">
					<!-- Left side content -->

					<!-- Home -->
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>

					<!-- Posts -->
					<li class="nav-item">
						<a class="nav-link" href="/posts/">Posts</a>
					</li>

					<!-- Contact -->
					<li class="nav-item">
						<a class="nav-link" href="/contact/">Contact</a>
					</li>

					<div class="flex-filler"></div>

					<!-- Right side content -->
					<div class="socialbtn-container">
						<!-- Twitter link -->
						<a class="btn btn-outline-info socialbtn" target="_blank" href="https://twitter.com/kaboomdotcat">
							<i class="fab fa-twitter"></i>
						</a>

						<!-- YouTube link -->
						<a class="btn btn-outline-danger socialbtn" target="_blank" href="https://youtube.com/@kaboomdotcat">
							<i class="fab fa-youtube"></i>
						</a>

						<!-- GitHub link -->
						<a class="btn btn-outline-secondary socialbtn" target="_blank" href="https://github.com/kaboomdotcat">
							<i class="fab fa-github"></i>
						</a>
					</div>
				</ul>
			</div>
		</div>
	</div>
</nav>

<script src="/assets/scripts/navigation_bar.js"></script>
