.footer-content
{
    display: flex;
    flex-shrink: 0;
    padding: 0.75em 1em 0em 1em;

    font-size: 1rem;
    text-align: center;

    color: var(--footer-text);
    background-color: var(--footer-background);
}

.footer-content-left
{
    width: 50%;

    text-align: left;
}

.footer-content-right
{
    width: 50%;

    text-align: right;
}

.footer-link
{
    text-decoration: none;
}