*
{
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

html, body
{
	margin: 0px;

	background-color: rgb(12, 12, 12);
	color: white;
}

.header
{
	height: 8rem;

	align-content: center;

	background-color: rgb(24, 24, 24);
}

.header-title
{
	font-size: 3rem;
	text-align: center;

	margin: 0px;
}

.content
{
	margin: 4rem;

	align-content: center;
	text-align: center;
}

.link a
{
	text-decoration: none;

	color: darkcyan;
}

.link a:visited
{
	color: purple;
}

.link-description
{
	margin-bottom: 2rem;
}
