.navbar, .dropdown-menu
{
	background-color: var(--navbar-background);

	border: none;
	border-radius: 0;
}

.navbar-content
{
	display: flex;
	flex-grow: 1;
	
	margin: auto;

	max-width: 1200px;
}

.nav-link
{
	color: var(--navbar-text-inactive);
}

.nav-link:hover
{
	color: var(--navbar-text-hover);
}

.nav-link.active, .navbar-brand:hover
{
	color: var(--navbar-text);
}

.navbar-brand
{
	color: var(--navbar-text-hover);
}

.navbar-brand:hover
{
	color: var(--navbar-text);
}

.navbar-nav
{
	display: flex;
	flex-grow: 0;

	width: 100%;
}

.dropdown-item
{
	color: var(--navbar-text-inactive);
}

.dropdown-item:hover
{
	background-color: transparent;
	color: var(--navbar-text-hover);
}

.socialbtn-container
{
	display: flex;
	flex-direction: row;
}

.socialbtn
{
	align-items: center;
	display: flex;
	justify-content: center;

    margin-left: 0.5rem;

	width: 2.5rem;
	height: 2.5rem;
}

.socialbtn .fab
{
	margin: auto;
}

.force-underline
{
    text-decoration: underline !important;
    text-decoration-color: white;
    text-decoration-thickness: 0.0625rem;
    text-underline-offset: 0.5rem;
}

.bi-list
{
	font-size: 2rem;

	color: var(--navbar-text-hover);
}

.flex-filler
{
	flex-grow: 1;
}

.fa-bars
{
	color: var(--navbar-text);
}

/* MOBILE */
@media (max-aspect-ratio: 5/4)
{
	.navbar-content
	{
		max-width: none;
	}

	.nav-item
	{
		text-align: center;
	}

	.nav-link
	{
		margin: 0.5rem 0;

		border-radius: 0.25rem;
		background-color: var(--navbar-link-background-mobile);
	}

	.socialbtn-container
	{
		margin: 0.5rem auto;
	}
}
