<!DOCTYPE html>
<head>
	<title>kaboomdotcat</title>

	<!-- Include style sheet -->
	<link rel="stylesheet" href="/assets/styles/main.css">

	<!-- Include Roboto font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<html>
	<body>
		<!-- Header -->
		<div class="header">
			<p class="header-title">kaboomdotcat</p>
		</div>

		<!-- Content -->
		<div class="content">
			{{ content }}
		</div>
	</body>
</html>
